<!DOCTYPE html>
<html>
<head>
	<title>TEST PAGE</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1> {{ header }} </h1>
<a href="" id="btn2">SAVE REQUEST</a>
<a href="" id="btn3">LOAD REQUEST</a>
<a href="" id="btn4">LIST REQUEST</a>

<script>
	function saveRequest() {
		var client = new XMLHttpRequest();
		const fname = "name";
		const sname = "data";
		var json = JSON.stringify({	
			name: fname,
			data: sname
		});
		client.open("POST", "save", false); // third parameter indicates sync xhr. :(
		client.setRequestHeader("Content-Type", "application/json; charset=utf-8");
		client.send(json);
	}
	const btn2 = document.getElementById('btn2');
	btn2.addEventListener('click', saveRequest);
	
	
	function loadRequest() {
		var client = new XMLHttpRequest();
		client.open("GET", "load/name", true); // third parameter indicates sync xhr. :(
		client.onload = function (e) {
			console.log(client.statusText);
		}
		console.log("I'M CATCHER");
		client.onerror = function (e) {
			console.error(client.statusText);
		};
		
		client.send();
	}
	const btn3 = document.getElementById('btn3');
	btn3.addEventListener('click', loadRequest);
	
	
	function listRequest() {
		var client = new XMLHttpRequest();
		client.open("GET", "list", true); // third parameter indicates sync xhr. :(
		client.onload = function (e) {
			console.log(client.statusText);
		}
		console.log("I'M CATCHER");
		client.onerror = function (e) {
			console.error(client.statusText);
		};
		client.send();
	}
	const btn4 = document.getElementById('btn4');
	btn4.addEventListener('click', listRequest);
</script>
</body>
</html>