<!DOCTYPE html>
<html>
<head>
	<title>123</title>
</head>
<body>
<h1> {{ header }} </h1>
<form method="POST" action="#" name="main-form">
	<input id="name" type="text" name="name">
	<input id="sername" type="text" name="job">
	<input type="submit" name="sb" value="Отправить">
</form>
<a href="#" id="btn">lalalalal</a>

<script>
	window.addEventListener('unload', logData, false);
	function logData() {
		var client = new XMLHttpRequest();
		const name = document.getElementById(
		var json = JSON.stringify({
			name: "Виктор",
			surname: "Цой"
		});
		client.open("POST", "", true); // third parameter indicates sync xhr. :(
		client.setRequestHeader("Content-Type", "application/json; charset=utf-8");
		client.send(json);
	}
	const btn = document.getElementById('btn');
	btn.addEventListener('click', logData);
</script>
</body>
</html>